body
{
    border: 3px solid black;
    height: 100vh;
    padding: 10px;
}
header
{
    border: 2px solid black;
    height: 70px;
    padding: 10px;
}
header div
{
    border: 1px solid black;
    /*height: 90px;*/
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
.company-logo
{
border: 1px solid red;
width: 250px;
border-radius: 5px;
}
.company-logo a
{
    border: 1px solid lightgreen;
    width: inherit;
    display: flex;
    justify-content: center;
}

#nav-links
{
    width: 250px;
    padding: 1px;
    display: flex;
    gap: 5px;
    justify-content: center;

}

#nav-links a
{
    border: 1px solid red;
    width: 100px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

main
{
    border: 2px solid black;
    height: inherit;
    margin-top: 10px;
    padding: 5px;
}

main section
{
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#Hero-Section div 
{
    border: 1px solid black;
    width: 20%;
    padding: 2px;
    justify-content: center;
}

#Hero-Section div h1    
{
    border: 1px solid blue;
    margin-top: 2px;
    margin-bottom: 1px;
    text-align: center;
    
}

#Hero-Section div p
{
    border: 1px solid purple;
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
}

#Hero-Section div button
{
    border: 1px solid yellow;
    margin-top: 1px;
    margin-bottom: 2px;
}
